.product {
  width: 250px;
  background-color: var(--card-background-color-light);
  text-align: center;
  margin: 0 10px 50px;
  overflow: hidden;
  border: 1px ridge #988259;
  border-radius: 10px;
  transition: all 0.2s ease;
}

body.dark-mode .product {
  background-color: var(--card-background-color-dark);
  border: 1px ridge #4a4a4a;
}

.product:hover {
  box-shadow: rgba(233, 146, 97, 0.09) 0px 2px 1px, rgba(116, 69, 21, 0.09) 0px 4px 2px, rgba(144, 110, 9, 0.09) 0px 8px 4px, rgba(245, 149, 149, 0.09) 0px 16px 8px, rgba(99, 70, 7, 0.09) 0px 14px 16px;
}

.product__image {
  padding: 10px;
  width: 200px;
  height: 200px;
  border-radius: 15px;
}

.product__title {
  color: var(--text-color-light);
  text-align: left;
  margin: 20px 20px 15px;
  font-size: 1.1rem;
}

body.dark-mode .product__title {
  color: var(--text-color-dark);
}

.product__price {
  color: var(--text-color-light);
  text-align: left;
  margin: 15px 20px;
  font-size: 0.9rem;
  font-weight: 500;
}

body.dark-mode .product__price {
  color: var(--text-color-dark);
}

.product__link-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 20px 20px;
}

.product__link {
  text-decoration: none;
  color: var(--primary-color-light);
  font-size: 0.95rem;
  font-weight: 500;
}

body.dark-mode .product__link {
  color: var(--primary-color-dark);
}

.product__link:hover {
  color: var(--secondary-color-light);
}

body.dark-mode .product__link:hover {
  color: var(--secondary-color-dark);
}

.product__button-container {
  display: flex;
  align-items: center;
}

.product__button {
  border-radius: 5px;
  background-color: var(--secondary-color-light);
  color: var(--text-color-light);
  border: none;
  width: 100px;
  height: 30px;
  cursor: pointer;
  transition: all .2s ease;
  font-size: 0.9rem;
  font-weight: 500;
  margin-left: 5px;
  box-shadow: rgba(93, 87, 50, 0.25) 0px 4px 12px -2px, rgba(121, 94, 6, 0.3) 0px 3px 7px -3px;
}

body.dark-mode .product__button {
  background-color: var(--secondary-color-dark);
  color: var(--text-color-dark);
}

.product__button--small {
  width: 25px !important;
  height: 25px !important;
  font-size: 1.6rem !important;
  font-weight: bold;
  line-height: 25px;
}

.product__button--small img {
  width: 20px;
}

.product__button:hover {
  background-color: var(--primary-color-light);
}

body.dark-mode .product__button:hover {
  background-color: var(--primary-color-dark);
}

.product__counter {
  display: inline-block;
  font-weight: 600;
  font-size: 1.1rem;
  width: 20px;
  margin-left: 5px;
  color: var(--text-color-light);
}

body.dark-mode .product__counter {
  color: var(--text-color-dark);
}

@media (max-width: 1000px) {
  .product {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .product {
    width: 45%;
  }

  .product__image {
    width: 200px;
  }
}

@media (max-width: 555px) {
  .product {
    width: 70%;
  }

  .product__image {
    width: 230px;
  }
}

@media (max-width: 400px) {
  .product {
    width: 90%;
  }
}