.product-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 150px 150px 50px;
  padding: 20px;
  background-color: var(--background-color-light);
  border: 2px outset var(--text-color-light);
  border-radius: 7px;
}

body.dark-mode .product-details {
  background-color: var(--background-color-dark);
  border: 2px outset var(--text-color-dark);
}

.product-details__image {
  width: 400px;
  border-radius: 7px;
}

.product-details__title-container {
  padding: 20px;
  background-color: var(--button-text-color-light);
  border-radius: 10px;
  margin-left: 30px;
  text-align: left;
}

body.dark-mode .product-details__title-container {
  background-color: var(--button-text-color-dark);
}

.product-details__title {
  color: #2c715e;
  margin: 20px 0 30px;
}

.product-details__description {
  color: var(--text-color-light);
  margin-bottom: 30px;
}

body.dark-mode .product-details__description {
  color: var(--text-color-dark);
}

.product-details__category {
  color: rgb(77, 57, 43);
  font-weight: bold;
  margin-bottom: 50px;
}

.product-details__category span {
  color: #bb532d;
  font-size: 1rem;
}

.product-details__button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-details__button {
  text-decoration: none;
  display: inline-block;
  background: var(--button-color-light);
  padding: 7px 15px;
  color: var(--button-text-color-light);
  font-weight: bold;
  border-radius: 5px;
  margin-bottom: 20px;
  transition: all 0.2s ease;
  box-shadow: rgba(29, 20, 1, 0.07) 0px 1px 1px, rgba(52, 28, 3, 0.07) 0px 2px 2px, rgba(54, 40, 1, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(60, 31, 3, 0.07) 0px 9px 10px;
}

body.dark-mode .product-details__button {
  background: var(--button-color-dark);
  color: var(--button-text-color-dark);
}

.product-details__button:hover {
  background-color: #2c715e;
}

.product-details__add-to-cart {
  border-radius: 5px;
  background-color: var(--secondary-color-light);
  color: var(--text-color-light);
  border: none;
  width: 100px;
  height: 30px;
  cursor: pointer;
  transition: all .2s ease;
  font-size: 0.9rem;
  font-weight: 500;
  margin-left: 5px;
  box-shadow: rgba(93, 87, 50, 0.25) 0px 4px 12px -2px, rgba(121, 94, 6, 0.3) 0px 3px 7px -3px;
}

body.dark-mode .product-details__add-to-cart {
  background-color: var(--secondary-color-dark);
  color: var(--text-color-dark);
}

.product-details__add-to-cart:hover {
  background-color: var(--button-color-light);
}

body.dark-mode .product-details__add-to-cart:hover {
  background-color: var(--button-color-dark);
}

.product-details__price {
  display: inline-block;
  background: #2c715e;
  padding: 7px 16px;
  color: #ece6c2;
  font-weight: bold;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: rgba(29, 20, 1, 0.07) 0px 1px 1px, rgba(52, 28, 3, 0.07) 0px 2px 2px, rgba(54, 40, 1, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(60, 31, 3, 0.07) 0px 9px 10px;
}

@media (max-width: 1200px) {
  .product-details {
    margin: 120px 80px 50px;
  }
}

@media (max-width: 1000px) {
  .product-details {
    flex-direction: column;
    justify-content: center;
  }

  .product-details__image {
    width: 170px;
    margin-bottom: 50px;
  }

  .product-details__title-container {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .product-details {
    margin: 120px 40px 50px;
    justify-content: center;
  }

  .product-details__title-container {
    margin: 0;
  }
}

@media (max-width: 555px) {
  .product-details {
    margin: 120px 20px 50px;
    justify-content: center;
  }

  .product-details__title-container {
    margin: 0;
  }
}

@media (max-width: 370px) {
  .product-details__button-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .product-details__price {
    margin-bottom: 40px;
  }
}